<!-- Menu component -->
<app-menu></app-menu>
<br>

<div  *ngIf="bird">
  <!-- back button -->
  <div class="container">
    <button (click)="backClicked()" class="btn btn-secondary">&lt; Volver</button>
  </div>



  <!-- Bird details -->
  <div class="container">
    <div class="row justify-content-center">
      <h2>Detalle del pájaro</h2>
    </div>
    <div class="row justify-content-center border">
      <div class="col-12">
        <img class="center" [src]="bird.bird_image" width="100px">
        <p>{{bird.bird_name}}</p>
        <p>{{bird.bird_description}}</p>
      </div>
    </div>
  </div>
  <br>

  <div class="container">
    <br>
    <!-- Add sighting button -->
    <button routerLink="/add-sighting/{{id}}" class="btn btn-info btn-sm float-left">Añadir avistamiento</button><br><br>
    <p>{{bird.bird_sightings}} sightings:</p>
    <!-- Show all sightings -->
    <p><span *ngFor="let sighting of bird.sightings_list">{{sighting.place}}, </span></p>
  </div>
</div>

<!-- Spinner  -->
<button *ngIf="spinnerBirdOn" class="btn btn-info" disabled>
  <span class="spinner-border spinner-border-sm"></span>
  Cargando datos...
</button>
