<!-- Menú component -->
<app-menu></app-menu>

<!-- Spinner  -->
<button *ngIf="spinnerListingOn" class="btn btn-info" disabled>
  <span class="spinner-border spinner-border-sm"></span>
      Cargando datos...
</button>

<div class="container">
  <div class="row justify-content-center">
    <h2>Listado de pájaros</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      <ul class="list-group">
        <div *ngIf="birds">
          <!-- ngFor para repetir un li para cada pájaro recibido -->
          <li class="list-group-item" *ngFor="let bird of birds">
            <!-- link to detail view -->
            <a routerLink="../bird-detail/{{bird.id}}"><img [src]="bird.bird_image" width="40px">
                {{bird.bird_name}} </a>
              <!-- ngStyle modify styles using bird.mine property -->
              <span class="float-right" [ngStyle]="{'background-color':bird.mine === 1 ? 'green' : 'red'}">{{bird.bird_sightings}} avistamientos</span>
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
