
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
      Entrada a la app
  </a>
</nav>

<!-- Login form -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <!--
      #loginForm is the name of the form and we use it to connect tamplete with ts
      ngSubmit is the function used to send the data
      [(ngModel)]="userName" is used to connect userName var with the field
      -->
      <form class="text-left border border-light p-5"
        #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input id="user"
            type="text"
            class="form-control mb-4"
            placeholder="Username"
            size=20
            name="user"
            [(ngModel)]="userName"
            #user="ngModel"
            required>
          <div [hidden]="user.valid || user.pristine" class="alert alert-danger">
            Hace falta el usuario
          </div>
        
          <input id="password" 
            type="password" 
            class="form-control mb-4"
            placeholder="Password" 
            size=20
            name="password"
            [(ngModel)]="userPassword"
            #password="ngModel"
            required>
          </div>

        <!--
        hidden if form is ok
        -->
          <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
            Hace falta el password
          </div>

        <!-- Spinner  -->
        <button *ngIf="spinnerLoginOn" class="btn btn-info" disabled>
          <span class="spinner-border spinner-border-sm"></span>
              entrando...
        </button>
        <!--
        disabled if form is not ok
        -->
        <button *ngIf="!spinnerLoginOn"
          color="info"
          block="true"
          class="btn btn-info float-right"
          type="submit" 
          [disabled]="!loginForm.valid">Login</button>
      </form>
    </div>
  </div>
</div>
