<!-- main menu -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        Avistamientos de pájaros
    </a>

    <!-- nav with app links-->
    <nav class="collapse navbar-collapse" >
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/birds-listing">Pájaros</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/add-bird">Añadir pájaro</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/menu">Info</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Log out</a>
            </li>
        </ul>
    </nav>
</nav>
