<!-- Menu component -->
<app-menu></app-menu>
<br>

<!-- Back button -->
<div class="container">
    <button (click)="backClicked()" class="btn btn-secondary">&lt; Back</button>
</div>

<div class="container">
  <div class="row justify-content-center">
    <h2>Add bird</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <!-- add bird form -->
      <form #addBirdForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="form-group">

          <label for="birdName">Nombre del pájaro</label>

          <input id="birdName"
            type="text"
            class="form-control" 
            name="birdName"
            [(ngModel)]="bird_name"
            #birdName="ngModel"
            required>
            <!-- Name required error -->
            <div [hidden]="birdName.valid || birdName.pristine" class="alert alert-danger">
              Hace falta un nombre de pájaro
            </div>

          </div>

        <div class="form-group">
          <label for="birdDescription">Descripción del pájaro</label>
          <textarea id="birdDescription" 
            type="text" 
            class="form-control" 
            rows="3"
            minlength="20"
            [(ngModel)]="bird_description"
            name="birdDescription"
            #birdDescription="ngModel"
            required>
          </textarea>
          <!-- Description error -->
          <div [hidden]="birdDescription.valid || birdDescription.pristine" class="alert alert-danger">
              Hace falta una descripción del pájaro de al menos 20 caracteres
          </div>
        </div>

        <label for="birdSeen">¿ha habido avistamiento?</label>
        <div class="form-group">
          <input id="birdSeen"
          type="checkbox" 
          class="form-control"
          name="birdSeen"
          [(ngModel)]="bird_seen"
          #birdSeen="ngModel"
          [checked]="birdSeen" (change)="geoPosition($event)"/>
          <!-- only shown if bird_seen is checked-->
          <div *ngIf="bird_seen">
            <div class="form-group">
              <label for="birdSeenPlace">Lugar del avistamiento</label>
              <input id="birdSeenPlace"
                     type="text"
                     class="form-control"
                     name="birdSeenPlace"
                     [(ngModel)]="bird_place"
                     #birdSeenPlace="ngModel"
                     required>
            </div>
            <div class="form-group">
              <label for="latitud">Latitud</label>
              <input id="latitud"
                     type="text"
                     class="form-control"
                     name="latitud"
                     [(ngModel)]="latitude_sighting"
                     required>

            </div>
            <div class="form-group">
              <label for="longitud">Longitud</label>
              <input id="longitud"
                     type="text"
                     class="form-control"
                     name="longitud"
                     [(ngModel)]="longitude_sighting"
                     required>
            </div>
          </div>

          <!-- Spinner -->
          <button *ngIf="spinnerLatOn" class="btn btn-success" disabled>
              <span class="spinner-border spinner-border-sm"></span>
              Cargando coordenadas...
            </button>
        </div>

        <div class="text-right">
          <!-- Spinner  -->
          <button *ngIf="spinnerAddOn" class="btn btn-info" disabled>
            <span class="spinner-border spinner-border-sm"></span>
              Enviando datos...
          </button>
          <button *ngIf="!spinnerAddOn"
            type="submit" 
            class="btn btn-sm btn-info"
            [disabled]="!addBirdForm.valid">añadir</button>
        </div>
      </form>
    </div>
  </div>
</div>
