<!-- Menu component -->
<app-menu></app-menu>
<br>

<!-- back button  -->
<div class="container">
  <button (click)="backClicked()" class="btn btn-secondary">&lt; Volver</button>
</div>

<div class="container">
  <div class="row justify-content-center">
    <h2>Añadir avistamiento</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col-4">
      <form #addSightingForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="birdSeenPlace">Lugar del avistamiento</label>
          <input id="birdSeenPlace"
                 type="text"
                 class="form-control"
                 name="birdSeenPlace"
                 [(ngModel)]="place"
                 #birdSeenPlace="ngModel"
                 required>
        </div>
        <div class="form-group">
          <label for="latitud">Latitud</label>
          <input id="latitud"
                 type="text"
                 class="form-control"
                 name="latitud"
                 [(ngModel)]="latitude_sighting"
                 required>

        </div>
        <div class="form-group">
          <label for="longitud">Longitud</label>
          <input id="longitud"
                 type="text"
                 class="form-control"
                 name="longitud"
                 [(ngModel)]="longitude_sighting"
                 required>

        </div>
        <div>
          <!-- Spinner geolocation -->
          <button *ngIf="spinnerCoordsOn" class="btn btn-info" disabled>
            <span class="spinner-border spinner-border-sm"></span>
            Cargando coordenadas...
          </button>
        </div>
        <br>

        <div class="right">
          <!-- Spinner  -->
          <button *ngIf="spinnerSightingOn" class="btn btn-sm btn-info" disabled>
            <span class="spinner-border spinner-border-sm"></span>
            Enviando datos...
          </button>
          <button *ngIf="!spinnerSightingOn"
                  type="submit"
                  class="btn btn-sm btn-info"
                  [disabled]="!coordsOK">Añadir</button>
        </div>
      </form>
    </div>
  </div>
</div>
